<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ImportAlchemist</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">
    <form action="/refactor" method="post" enctype="multipart/form-data" id="refactorForm">
        <input type="file" name="files" id="files" multiple accept=".java" required>
        <input type="text" name="newPackage" id="newPackage" placeholder="e.g. com.newproject"
               pattern="[a-z][a-z0-9]*(\.[a-z][a-z0-9]*)*" title="Valid package format: com.example" required>
        <button type="submit">Refactor and Download ZIP</button>
    </form>
</div>
</body>
</html>